<div class="container">
  <h1><%= transport ? 'Edit Transport' : 'Create a Transport' %></h1>
  <form action="<%= transport ? `/update/${transport._id}` : '/create' %>" method="POST">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" value="<%= transport ? transport.name : '' %>" required />

    <label for="mobility">Mobility Type:</label>
    <select id="mobility" name="mobility" required>
      <option value="own chair" <%= transport && transport.mobility === 'own chair' ? 'selected' : '' %>>Own Chair</option>
      <option value="str" <%= transport && transport.mobility === 'str' ? 'selected' : '' %>>Stretcher</option>
      <option value="walker" <%= transport && transport.mobility === 'walker' ? 'selected' : '' %>>Walker</option>
      <option value="none" <%= transport && transport.mobility === 'none' ? 'selected' : '' %>>None</option>
    </select>

    <label for="pickupMileage">Pick-up Mileage:</label>
    <input type="number" id="pickupMileage" name="pickupMileage" value="<%= transport ? transport.pickupMileage : '' %>" required />

    <label for="dropoffMileage">Drop-off Mileage:</label>
    <input type="number" id="dropoffMileage" name="dropoffMileage" value="<%= transport ? transport.dropoffMileage : '' %>" required />

    <button type="submit"><%= transport ? 'Update Transport' : 'Create Transport' %></button>
  </form>
</div>
